
<div class="header">
  <div class="header-left">
     <h1>Company name</h1>
  </div>
  <div class="header-right">
    <div class="input-group">
        <input class="form-control" type="text" name="search" placeholder="Search">
        <span class="input-group-btn">
            <button  class="btn btn-primary" type="button">Search</button>
          </span>
    </div>
  </div>
  <div class="responsiveIcon" (click)="myFunction($event)">
      <div class="icons"></div>
      <div class="icons"></div>
      <div class="icons"></div>
  </div>
  <div [ngClass] = "slideMenuClassName">
      <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">links</a>  </li>
          <li><a href="#">products</a></li>
      </ul>     
  </div>
</div>
<div class="bg">
   
    
    <h1>What works and good programming practices </h1>
</div>

