
<div class="header">
  <div class="header-left">
     <h1>Company name</h1>
  </div>
  <div class="header-right">
    <div class="input-group">
        <input class="form-control" type="text" name="search" placeholder="Search">
        <span class="input-group-btn">
            <button  class="btn btn-primary" type="button">Search</button>
          </span>
    </div>
  </div>
  <div class="responsiveIcon" (click)="myFunction()">
      <div class="icons"></div>
      <div class="icons"></div>
      <div class="icons"></div>
  </div>
  <div [ngClass] = "slideMenuClassName">
      <table class="table table-hover">
        <tr>
          <td><a href="#">Business cards</a></td>
        </tr>
        <tr>  
          <td><a href="#">Weddings</a></td>
        </tr>
        <tr>  
          <td><a href="#">General purpose</a></td>
        </tr>
        <tr>  
          <td><a href="#">Banners</a>  </td>
        </tr>
        <tr>  
          <td><a href="#">Contact info</a></td>  
        </tr>
      </table>     
  </div>
</div>

<div class="bg">
   
            <a [routerLink] = "['']"><div [ngClass]="selected" (mouseout)="disselected()" (mouseenter)="selectedFunc()" >Java</div></a>
            <a [routerLink] = "['angular']"><div [ngClass]="selected1" (mouseout)="disselected1()" (mouseenter)="selectedFunc1()" >Angular</div></a>
            <a href="#"><div [ngClass]="selected2" (mouseout)="disselected2()" (mouseenter)="selectedFunc2()" >Node</div></a>
            <a href="#"><div [ngClass]="selected3" (mouseout)="disselected3()" (mouseenter)="selectedFunc3()" >HTML</div></a>
            <a href="#"><div [ngClass]="selected3" (mouseout)="disselected3()" (mouseenter)="selectedFunc3()" >JanaScript</div></a>
</div>

<div class="mainContainer">
    <div class="mainContainerleft">
        <router-outlet></router-outlet>
    </div>
    <div class="mainContainerRight">
       
        
    </div>
</div>